@{
    ViewBag.Title = "ListarCidade";

}
<form class="form-inline" action="@Url.Action("ListarEmpresa","Empresa")">
    

    <div class="form-group">
        <select name="cidade" class="form-control">
            <option value="">Escolha uma cidade...</option>
            @foreach (Projeto1.Models.ModCidade itemCidade in Model)
            {
                <option value="@itemCidade.nome">@itemCidade.nome</option>
            }
        </select>
    </div>
    
    
    <button  class="btn btn-default">Buscar</button>


</form>

 
